@{
  Layout = "_Layout"; 
}

<h1>Add a Vendor</h1>

<form action="/vendors" method="post">
  <label for="vendorName">Vendor Name</label>
  <input type="text" id="vendorName" name="vendorName">
  <button type="submit">Add</button>
</form>

<p><a href="/"> Back Home </a></p>
<p><a href="/vendors"> Back to Vendors </a></p>